body{
	background: white;
	color: black;
	font-family: Century Gothic;
	font-size: 30px;
}

h1 {
	background: #2bd5ff;
	color: white;
	padding: 5px 20px 5px 10px;
	font-size: 35px;
}

p {
	background: white;
	color: black;
	font-family: Century Gothic;
	font-size: 30px;
}

a {
	text-decoration: none;
	margin: 2px;
	font-size: 18px;
	color: white;
	font-family: Century Gothic;
	padding: 5px 5px 5px 5px;
}

input {
	margin: 2px;
	font-family: Century Gothic;
}

.blackbtn {
	color: white; 
	background-color: black; 
	font-family: Century Gothic;
	font-size: 30px; 
	font-weight: bold; 
	border: none; 
	padding: 5px;
}

.bigbluebtn {
	color: white; 
	background-color: #2bd5ff;
	font-size: 50px;
	font-weight: bold;
	border: none;
}

.twenty {
	font-size: 20px;
	height: 20px;
}

.biglabel {
	font-size: 50px;
	/* Will eventually be white, but for visibility now leave black */
	/* color: white; */
}