
/* HTML elements */

body{
	background: white;
	color: black;
	font-family: Century Gothic;
	font-size: 30px;
}

p {
	color: black;
	font-family: Century Gothic;
	font-size: 30px;
}

a {
	color: white;
	text-decoration: none;
	font-family: Century Gothic;
	margin: 2px;
	padding: 5px 5px 5px 5px;
	font-size: 18px;
}

a:hover {
	color: blue;
}

img {
	background: none;
}

input {
	font-family: Century Gothic;
	margin-bottom: 15px;
}

/* Classes */

.head {
		background-color: black;
		color: black;
		padding: 5px 20px 5px 10px;
		font-size: 35px;
}

.bio {
	background-color: grey;
	color: whitesmoke;
	opacity: 50%;
	font-size: 25px;
	padding: 2% 2% 2% 5%;
	width: 90%;
	text-align: left;
}

.gallery {
	width: 80%;
}

.element {
	color: black;
	background-color: whitesmoke;
	border: 2px solid black;
	font-size: 25px;
	width: 20%;
	padding: 2px 1px 2px 5px;
	margin: 8px;
	text-align: left;

	/* URL: https://stackoverflow.com/questions/3705804/css-positioning-elements-next-to-each-other */
	float: left;
}

.blackbtn {
	color: white; 
	background-color: black; 
	font-family: Century Gothic;
	font-size: 30px; 
	font-weight: bold; 
	border: none; 
	padding: 5px;
	position: relative;
}

.bigbluebtn {
	background-color: #2bd5ff;
	color: white; 
	font-size: 50px;
	font-weight: bold;
	border: none;
}

.forms {
	padding: 15px 0px 0px 190px;
}

.twenty {
	font-size: 20px;
	height: 20px;
}

.biglabel {
	color: white;
	font-size: 80px;	
	
	/* If you ever want to do gradient text */
	/* background: -webkit-linear-gradient(whitesmoke, orangered);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}