
/* HTML elements */

body{
	background: white;
	color: black;
	font-family: Century Gothic;
	font-size: 30px;
}

h1 {
	background: black;
	color: white;
	padding: 5px 20px 5px 10px;
	font-size: 35px;
}

p {
	background: white;
	color: black;
	font-family: Century Gothic;
	font-size: 30px;
}

a {
	text-decoration: none;
	margin: 2px;
	color: white;
	font-family: Century Gothic;
	padding: 5px 5px 5px 5px;
	font-size: 18px;
}

a:hover {
	background-color: blue;
}

img {
	/* Attempting to make background transparent on all images */
	background: none;
}

input {
	margin-bottom: 15px;
	font-family: Century Gothic;
}

td {
	background-color:whitesmoke; 
	border-width: 5px; 			
	padding: 15px;
	font-size: 20px;
	text-align: center;
}

/* Classes */

.blackbtn {
	color: white; 
	background-color: black; 
	font-family: Century Gothic;
	font-size: 30px; 
	font-weight: bold; 
	border: none; 
	padding: 5px;
	position: relative;
}

.bigbluebtn {
	color: white; 
	background-color: #2bd5ff;
	font-size: 50px;
	font-weight: bold;
	border: none;
}

.forms {
	padding: 15px 0px 0px 190px;
}

.twenty {
	font-size: 20px;
	height: 20px;
	width: 10px;
}

.biglabel {
	font-size: 80px;
	color: white;
	
	/* If you ever want to do gradient text */
	/* background: -webkit-linear-gradient(whitesmoke, orangered);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}