body{
	background: white;
	color: black;
	font-family: Century Gothic;
	font-size: 30px;
}

h1 {
	background: #2bd5ff;
	color: white;
	padding: 5px 20px 5px 10px;
	font-size: 35px;
}

p {
	background: white;
	color: black;
	font-family: Century Gothic;
	font-size: 30px;
}

.top{
	font-size: 15;
	height: 20px;
}

.description {
}

a {
	text-decoration: none;
	margin: 2px;
	font-size: 18px;
	color: white;
	font-family: Century Gothic;
	padding: 5px 5px 5px 5px;
}

input {
	margin: 2px;
	text-align-last: 
}

